
@{
    ViewBag.Title = "EmailSucces";
}

<h2 style="text-align:center">Email trimis cu succes!</h2>
<img style="margin-left:450px" src="~/Content/themes/base/images/pachettt.jpg" />
<br />
<div style="text-align:right">
    <h4> @Html.ActionLink("Înapoi la lista de rezervări", "Index", "Rezervares") </h4>
</div>