
@{
    ViewBag.Title = "RezervareSucces";
}

<h2 style="text-align:center">Rezervare efectuată cu succes!</h2>
<h2 style="text-align:center">Mulțumim și vă mai așteptăm pe pagina noastră!</h2>
<br/>
<img style="margin-left:250px" src="~/Content/themes/base/images/gluma.jpg" />
<br/>
<div style="text-align:right">
   <h4> @Html.ActionLink("Ieșire din cont", "Logout", "Home") </h4>
</div>